* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

body {
    position: fixed;
    inset: 0;
}


/* INTRO */

#intro {
    position: fixed;
    inset: 0;

    background: #000;

    z-index: 20;

    opacity: 1;

    transition: opacity 1s ease;
}


#pixelCanvas {
    position: absolute;

    width: 100%;
    height: 100%;

    inset: 0;
}


/* CAMERA FLASH */

#flash {
    position: fixed;

    inset: 0;

    background: white;

    opacity: 0;

    pointer-events: none;

    z-index: 30;
}


#flash.fire {
    animation: cameraFlash 0.65s ease-out forwards;
}


@keyframes cameraFlash {

    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    20% {
        opacity: 0.95;
    }

    100% {
        opacity: 0;
    }

}


/* REMOVE INTRO */

#intro.hide {
    opacity: 0;
}


/* FINAL IMAGE */

#landing {

    position: fixed;

    inset: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    background: #000;

    opacity: 0;

    transition: opacity 1.5s ease;

}


#landing.show {
    opacity: 1;
}


.logo {

    display: block;

    width: 50vw;

    max-width: 800px;

    max-height: 72vh;

    height: auto;

    object-fit: contain;

    border: 0;
    outline: 0;

}


/* MOBILE */

@media (max-width: 700px) {

    .logo {
        width: 85vw;
        max-height: 80vh;
    }

}

#enterScreen {
    position: fixed;
    inset: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #000;

    opacity: 1;
    transition: opacity 0.5s ease;
}

#enterScreen.hide {
    opacity: 0;
    pointer-events: none;
}

#enterButton {
    background: transparent;
    border: 1px solid #65cfff;

    color: #65cfff;

    padding: 14px 24px;

    font-family: monospace;
    font-size: 14px;

    letter-spacing: 4px;

    cursor: pointer;

    transition:
        background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

#enterButton:hover {
    background: #65cfff;
    color: #000;

    box-shadow:
        0 0 10px #65cfff,
        0 0 25px #65cfff;
}
